<launch>
    <arg name="debug" default="0" />
    <arg name="use_unity_editor" default="false" />

    <!-- RPG Flightmare Unity Render. -->
    <node name="rpg_flightmare_render" pkg="flightrender" type="RPG_Flightmare.x86_64"  unless="$(arg use_unity_editor)">
    </node>

    <node name="camera" pkg="viri" type="camera" output="screen" launch-prefix="gdb -ex run --args" if="$(arg debug)" >
    </node>

    <node name="camera" pkg="viri" type="camera" output="screen" unless="$(arg debug)">
    </node>
        
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find viri)/launch/camera/camera.rviz" /> -->

    <node name="image_view" pkg="image_view" type="image_view" output="screen" args="image:=/rgb _image_transport:=raw">
    </node>

</launch>