<launch>
    <arg name="debug" default="false" />
    <arg name="use_unity_editor" default="false" />

    <!-- RPG Flightmare Unity Render. -->
    <node name="rpg_flightmare_render" pkg="flightrender" type="RPG_Flightmare.x86_64"  unless="$(arg use_unity_editor)">
    </node>

    <node name="data_generation" pkg="viri" type="data_generation" output="screen" launch-prefix="gdb -ex run --args" if="$(arg debug)" >
    </node>

    <node name="data_generation" pkg="viri" type="data_generation" output="screen" unless="$(arg debug)">
    </node>
        
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find viri)/launch/data_generation/data_generation.rviz" /> -->

    <node name="image_view" pkg="image_view" type="image_view" output="screen" args="image:=/rgb _image_transport:=compressed">
    </node>

    <!-- <node name="depth_view" pkg="image_view" type="image_view" output="screen" args="image:=/depth _image_transport:=compressed">
    </node> -->
    
    <!-- <node pkg="viri" type="camera_recorder" name="camera_recorder" output="screen">
    </node> -->
    
</launch>